
@{
    ViewData["Title"] = "Request to WebApi";
}

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h2>Request to WebApi</h2>

<li><a asp-area="" asp-controller="RequestToWebApi" asp-action="GetAdvokateList">Получить список адвокатов</a></li>
<li><a asp-area="" asp-controller="RequestToWebApi" asp-action="AddAdvokate">Добавить нового адвоката</a></li>
<li><a asp-area="" asp-controller="RequestToWebApi" asp-action="UploadFile">Загрузить файл</a></li>



