
@{
    //Layout = null;
    Layout = "~/Views/Shared/_MyLayout.cshtml";

    ViewData["Title"] = "HTML-хелперы";
}
<br />
<br />
<br />
<br />
<br />
<br />

<h2>HTML-хелперы</h2>
<hr />

<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="HtmlHelper" asp-action="SimpleHTMLHelperForm">Простые HTML-хелперы</a></li>
    <li><a asp-area="" asp-controller="HtmlHelper" asp-action="HTMLHelperSelect">HTML-хелперы со списком</a></li>
    <li><a asp-area="" asp-controller="HtmlHelper" asp-action="HTMLHelpersFOR">Строго типизированные HTML-хелперы (FOR..)</a></li>
</ul>


